.main{
  height: 417px;
  width: 920px;
  background-image: url('https://image.freepik.com/photos-gratuite/horloge-sable-pieces-monnaie-fond-noir_93314-1254.jpg');
}
.time{
  color: white;
  font-size: 50px;
  margin-left: 335px;
  padding-top: 80px;
}
button{
  width: 120px;
  height:40px;
  background-color: grey;
  color: white;
  border-color: gray;
  border-radius: 8px;
}
.time-button{
  /* border: 1px solid red; */
  width: 300px;
  margin-left: 300px;
  display: flex;
  justify-content: space-between;
}